<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<!-- <div id="brandname">
			Machine Learning App with Flask
		</div> -->
		<h2>ML for Software Requirements</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('upload')}}" method="POST" enctype="multipart/form-data">
			<p style="color:blue">Upload Two PDFs here for comparing</p>
		
			<input type="file" name="profile" style="color:red">
			<input type="file" name="profile1" style="color:red">
		
		<input type="submit" class="btn-info" value="upload">
		</form>
		
	</div>

	
	

</body>
</html>
